---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Socials from '../components/Socials.astro';

let title = 'Kate Preston';
let description = '';
let permalink = 'https://kate-preston.co.uk/blog';

let allPosts = Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));

---

<style lang="scss">
  @import "../styles/global.scss";
  @import "../styles/partials/mixins.scss";

  .content {
    display: grid;
    grid-template-areas: "side-l main side-r";
    grid-template-columns: 20% auto 20%;

    .blog-list {
      grid-area: main;
      padding-top: 2em;
    }
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
    <BlogHeader />
    <div class="content">
      <main class="blog-list">
        {allPosts.map(p => <BlogPostPreview post={p} />)}
      </main>
    </div>
    <footer>
      <Socials dark={true}/>
    </footer>
  </body>
</html>
