---
import BaseHead from '../components/BaseHead.astro';
import Socials from "../components/Socials.astro";
import BlogPostPreview from '../components/BlogPostPreview.astro';

let title = 'Kate Preston';
let description = '';
let permalink = 'https://kate-preston.co.uk/';

let allPosts = Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate)).slice(0,3);
---


<html lang={ 'en' }>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/index.css" />
  </head>

  <body>
    <section class="cover">
        <h1>Hi, I'm Kate</h1>
        <p>a <span class="highlight"> fullstack</span> software engineer based in <span class="highlight">Edinburgh</span> , Scotland</p>
    </section>
    <section class="intro">
      <div class="about-container">
        <p class="about-me"> 
          When I'm not <i class="icon fas fa-laptop-code"></i> you can usually find me tending to my <i class="icon fas fa-seedling"></i>, rollerblading, crocheting oddly shaped jumpers, cooking, reading and <i class="icon fas fa-swimmer"></i> in the sea.
        </p>
      </div>
      <Socials />
    </section>
    <section class="blog-preview">
    <h2>What I've been thinking about lately</h2>
    {allPosts.map(p => <BlogPostPreview post={p} small={true}/>)}
    <h3><a href="/blog">Read more</a></h3>
    </section>
  </body>
</html>